<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter_walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{1,201},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>72 13 72 98 0 98 0 0 38 0</string>
                <key>verticesUV</key>
                <string>73 214 73 299 1 299 1 201 39 201</string>
            </dict>
            <key>fighter_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{1,101},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>72 21 72 98 0 98 0 0 38 0</string>
                <key>verticesUV</key>
                <string>73 122 73 199 1 199 1 101 39 101</string>
            </dict>
            <key>fighter_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>72 26 72 98 0 98 0 0 46 0</string>
                <key>verticesUV</key>
                <string>73 27 73 99 1 99 1 1 47 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BerserkerWalk.png</string>
            <key>size</key>
            <string>{74,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c7b281ecd22940271353326f87a8f49:e0addda3f79d36d2082b356d17de8596:3c786c61e56db5b14adc796340f9331c$</string>
            <key>textureFileName</key>
            <string>BerserkerWalk.png</string>
        </dict>
    </dict>
</plist>
