<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight_walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{70,85}</string>
                <key>textureRect</key>
                <string>{{1,175},{70,85}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 0 4 6 2 0 1 2 3 0 0 3 4</string>
                <key>vertices</key>
                <string>70 32 70 85 23 85 5 64 0 35 0 0 38 0</string>
                <key>verticesUV</key>
                <string>71 207 71 260 24 260 6 239 1 210 1 175 39 175</string>
            </dict>
            <key>knight_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{70,85}</string>
                <key>textureRect</key>
                <string>{{1,88},{70,85}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>70 29 70 85 23 85 0 62 0 0 34 0</string>
                <key>verticesUV</key>
                <string>71 117 71 173 24 173 1 150 1 88 35 88</string>
            </dict>
            <key>knight_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{70,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,85}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>70 29 70 85 24 85 0 61 0 0 34 0</string>
                <key>verticesUV</key>
                <string>71 30 71 86 25 86 1 62 1 1 35 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KnightWalk.png</string>
            <key>size</key>
            <string>{72,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d420b1110c0568a635d2f62e277c97dc:6fdef0065f2a5ff8b629c9dbd615607a:4208657351583dc0f0ac016236620f5c$</string>
            <key>textureFileName</key>
            <string>KnightWalk.png</string>
        </dict>
    </dict>
</plist>
