<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Information.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,170}</string>
                <key>spriteSourceSize</key>
                <string>{69,170}</string>
                <key>textureRect</key>
                <string>{{64,1254},{69,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{902,1766},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{922,1766},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{942,1766},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slider_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,14}</string>
                <key>spriteSourceSize</key>
                <string>{200,14}</string>
                <key>textureRect</key>
                <string>{{502,1766},{200,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slider_PressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,14}</string>
                <key>spriteSourceSize</key>
                <string>{200,14}</string>
                <key>textureRect</key>
                <string>{{702,1766},{200,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,292}</string>
                <key>textureRect</key>
                <string>{{64,0},{600,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{984,554}</string>
                <key>spriteSourceSize</key>
                <string>{984,554}</string>
                <key>textureRect</key>
                <string>{{0,292},{984,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgroundblur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,292}</string>
                <key>textureRect</key>
                <string>{{0,846},{600,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{600,846},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,408}</string>
                <key>spriteSourceSize</key>
                <string>{290,408}</string>
                <key>textureRect</key>
                <string>{{664,846},{290,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,1254},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mounted-knight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{133,1254},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myclose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{645,1254},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{709,1254},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,92}</string>
                <key>spriteSourceSize</key>
                <string>{502,92}</string>
                <key>textureRect</key>
                <string>{{0,1766},{502,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turnoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,1858},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turnon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,1858},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plist_setting.png</string>
            <key>size</key>
            <string>{984,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7c31663f004ccdb9a2356f29c00cc6:b200fc4068a1d815ac9f1263b7ed35cd:00987f7127071876c60ea4754add1972$</string>
            <key>textureFileName</key>
            <string>plist_setting.png</string>
        </dict>
    </dict>
</plist>
