<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Information.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,170}</string>
                <key>spriteSourceSize</key>
                <string>{69,170}</string>
                <key>textureRect</key>
                <string>{{728,846},{69,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{902,1138},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{922,1138},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SliderNode_Press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{942,1138},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slider_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,14}</string>
                <key>spriteSourceSize</key>
                <string>{200,14}</string>
                <key>textureRect</key>
                <string>{{502,1138},{200,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slider_PressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,14}</string>
                <key>spriteSourceSize</key>
                <string>{200,14}</string>
                <key>textureRect</key>
                <string>{{702,1138},{200,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,292}</string>
                <key>textureRect</key>
                <string>{{64,0},{600,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{984,554}</string>
                <key>spriteSourceSize</key>
                <string>{984,554}</string>
                <key>textureRect</key>
                <string>{{0,292},{984,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgroundblur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,292}</string>
                <key>textureRect</key>
                <string>{{0,846},{600,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{600,846},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{664,846},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myclose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{797,846},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{861,846},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,92}</string>
                <key>spriteSourceSize</key>
                <string>{502,92}</string>
                <key>textureRect</key>
                <string>{{0,1138},{502,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turnoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,1230},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turnon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,1230},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plist_setting.png</string>
            <key>size</key>
            <string>{984,1294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:918c126baacafca1e109bea96357ac8a:288a09b24cb16feab498f4fecdd17f45:00987f7127071876c60ea4754add1972$</string>
            <key>textureFileName</key>
            <string>plist_setting.png</string>
        </dict>
    </dict>
</plist>
