<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,0}</string>
                <key>spriteSize</key>
                <string>{26,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{182,1},{26,100}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>26 100 0 100 0 69 10 0 26 0</string>
                <key>verticesUV</key>
                <string>208 101 182 101 182 70 192 1 208 1</string>
            </dict>
            <key>sword1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22.5,0}</string>
                <key>spriteSize</key>
                <string>{55,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{97,1},{55,100}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 0 4 6 0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>28 80 18 100 0 100 0 69 32 5 37 0 55 0</string>
                <key>verticesUV</key>
                <string>125 81 115 101 97 101 97 70 129 6 134 1 152 1</string>
            </dict>
            <key>sword2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3.5}</string>
                <key>spriteSize</key>
                <string>{76,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,93}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 3 1 2 3 4 1 0 1 4</string>
                <key>vertices</key>
                <string>76 28 20 100 0 100 0 74 9 62 71 7</string>
                <key>verticesUV</key>
                <string>77 22 21 94 1 94 1 68 10 56 72 1</string>
            </dict>
            <key>sword3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-18.5}</string>
                <key>spriteSize</key>
                <string>{94,63}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,67},{94,63}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 3 1 2 3 4 1 0 1 4</string>
                <key>vertices</key>
                <string>94 56 24 100 0 100 0 77 19 67 94 37</string>
                <key>verticesUV</key>
                <string>95 86 25 130 1 130 1 107 20 97 95 67</string>
            </dict>
            <key>sword4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{100,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{64,99},{100,34}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>100 83 36 100 0 100 0 75 100 66</string>
                <key>verticesUV</key>
                <string>164 116 100 133 64 133 64 108 164 99</string>
            </dict>
            <key>sword5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{100,24}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,132},{100,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>100 86 100 100 0 100 0 76 31 76</string>
                <key>verticesUV</key>
                <string>101 142 101 156 1 156 1 132 32 132</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sword.png</string>
            <key>size</key>
            <string>{209,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9b3f23bf808e93aa19b06bd74f7604f:bdab1074ef4666c0fb5acefa7544e155:04a21bcaac80f87f64ad95b49ab0bbb7$</string>
            <key>textureFileName</key>
            <string>Sword.png</string>
        </dict>
    </dict>
</plist>
